$primary: #283618;
$secondary: #BC6C25;
$light: #f7f7f7;
$dark: #070707;
$body-color: #070707;

@import "bootstrap/scss/bootstrap";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}